@font-face {
  font-family: Proxima;
  src: url(ProximaNova-Reg.otf); }

@font-face {
  font-family: ProximaBold;
  src: url(ProximaNovaCond-Bold.otf); }

@font-face {
  font-family: ProximaLight;
  src: url(ProximaNova-LightIt.otf); }

body {
  margin: 0; }
