@font-face {
  font-family: Proxima;
  src: url(ProximaNova-Reg.otf); }

@font-face {
  font-family: ProximaBold;
  src: url(ProximaNovaCond-Bold.otf); }

@font-face {
  font-family: ProximaLight;
  src: url(ProximaNova-LightIt.otf); }

body {
  margin: 0;
  overflow: hidden;
  font-family: Proxima; }

.homepage-hero-module {
  border: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s; }
  .homepage-hero-module .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000; }
    .homepage-hero-module .video-container video.fillWidth {
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0; }
  .homepage-hero-module .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh; }
  .homepage-hero-module .poster img {
    width: 100%;
    bottom: 0;
    position: absolute; }

.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  z-index: 100;
  justify-content: center; }
  .intro-content a {
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    opacity: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .intro-content a .btnBefore {
      right: 0;
      bottom: 0; }
    .intro-content a .btnAfter {
      left: 0;
      top: 0; }
  .intro-content .anim-button .btnAfter, .intro-content .anim-button .btnBefore {
    height: 100%;
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease 0.5s;
    -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s; }
  .intro-content .anim-button .btnBefore {
    border-width: 0 0 1px 1px; }
  .intro-content .anim-button .btnAfter {
    border-width: 1px 1px 0 0; }
  .intro-content .anim-button .line-left {
    border-width: 1px 1px 0 0; }
  .intro-content span {
    position: relative;
    line-height: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease; }
  .intro-content .btnAfter, .intro-content .btnBefore {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000000;
    border-width: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }
  .intro-content .intro-zone:hover .anim-button {
    background-color: #d7182a; }
  .intro-content .intro-zone {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 50%;
    left: 0; }
  .intro-content .intro-zone:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    left: 0;
    top: 22px;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }
  .intro-content .intro-zone:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    right: 0;
    top: 22px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }

.anim-zone .intro-zone:after, .anim-zone .intro-zone:before {
  width: calc(50% - 120px);
  -webkit-transition: .4s ease-out;
  -webkit-transition-delay: 0.8s;
  -o-transition: .4s ease-out;
  -o-transition-delay: 0.8s;
  -moz-transition: .4s ease-out;
  -moz-transition-delay: 0.8s;
  transition: .4s ease-out 0.4s;
  transition-delay: 0.8s; }

.anim-zone .intro-zone {
  bottom: 100px;
  transition: bottom 0.4s ease 1.5s; }
  .anim-zone .intro-zone .anim-button {
    background-color: #292929; }

.anim-zone-end .intro-zone:after, .anim-zone-end .intro-zone:before {
  width: 0;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  -moz-transition: .3s ease-out;
  transition: .4s ease-out 0.3s; }

.anim-zone-end .intro-zone:after {
  right: calc(50% - 120px); }

.anim-zone-end .intro-zone:before {
  left: calc(50% - 120px); }

.anim-zone-end a {
  -webkit-transition: .3s ease-out;
  -webkit-transition-delay: 0.5s;
  -o-transition: .3s ease-out;
  -o-transition-delay: 0.5s;
  -moz-transition: .3s ease-out;
  -moz-transition-delay: 0.5s;
  transition: .4s ease-out;
  transition-delay: 0.5s;
  display: inline-block;
  opacity: 0 !important; }

.second-page {
  min-width: 1000px;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .second-page .pane {
    background-color: black;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden; }
  .second-page .pane:hover .content {
    opacity: 0.7; }
  .second-page .content {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5; }
  .second-page .zone {
    position: absolute;
    top: calc(10% + 20px);
    max-width: 70%;
    display: none; }
    .second-page .zone h1 {
      color: #d7182a;
      font-family: ProximaBold;
      text-transform: uppercase;
      font-size: 55px; }
    .second-page .zone span {
      font-family: ProximaLight;
      font-size: 22px;
      color: white; }
  .second-page .center-content {
    background-position: center center;
    background-size: cover;
    width: 24%;
    left: 38%;
    height: 100%;
    background-image: url("../img/center.jpg");
    z-index: 10; }
  .second-page .center-left {
    width: 20%;
    left: 21%;
    height: 100%;
    z-index: 15;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transform: skewX(6deg); }
    .second-page .center-left .content {
      background-image: url("../img/ufc-ea-05.jpg");
      background-position: center center;
      background-size: cover;
      width: calc(120% + 80px);
      left: -20%;
      margin-left: -30px;
      transform: skewX(-6deg); }
    .second-page .center-left .zone {
      transform: skewX(-6deg);
      left: calc(5% + 35px);
      text-align: left; }
  .second-page .center-right {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    right: 21%;
    height: 100%;
    z-index: 15;
    transform: skewX(-6deg); }
    .second-page .center-right .content {
      background-image: url("../img/box1m.jpg");
      background-position: center center;
      background-size: cover;
      width: calc(120% + 80px);
      right: -20%;
      margin-right: -30px;
      transform: skewX(6deg); }
    .second-page .center-right .zone {
      transform: skewX(6deg);
      right: calc(5% + 35px);
      text-align: right; }
  .second-page .left {
    height: 100%;
    z-index: 5;
    left: -4%;
    width: 25%;
    transform: skewX(6deg); }
    .second-page .left .content {
      background-image: url("../img/maxresdefaudfdlt.jpg");
      background-position: center center;
      background-size: cover;
      width: calc(120% + 80px);
      transform: skewX(-6deg); }
    .second-page .left .zone {
      left: calc(15% + 15px);
      transform: skewX(-6deg); }
  .second-page .right {
    height: 100%;
    z-index: 5;
    width: 25%;
    right: -4%;
    transform: skewX(-6deg); }
    .second-page .right .content {
      background-image: url("../img/40d453u-960.jpg");
      background-position: center center;
      background-size: cover;
      transform: skewX(6deg);
      width: calc(120% + 80px);
      left: -14%; }
    .second-page .right .zone {
      right: calc(15% + 15px);
      text-align: right;
      transform: skewX(6deg); }
  .second-page .social {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    color: white;
    display: none; }
    .second-page .social a {
      cursor: pointer;
      display: inline-flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #d7182a;
      transition: 0.3s;
      padding: 2; }
      .second-page .social a i {
        display: block;
        margin: auto; }
    .second-page .social a:hover {
      background-color: #292929;
      transform: rotate(360deg); }
  .second-page .logo {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 20;
    display: none; }
    .second-page .logo img {
      display: block;
      margin: auto;
      width: 150px; }
  .second-page .help-zone {
    position: absolute;
    z-index: 10;
    width: 200px;
    left: calc(50% - 100px);
    top: 25%; }
  .second-page .help {
    position: absolute;
    width: 97%;
    top: calc(20% + 50px);
    justify-content: center;
    align-items: center; }
    .second-page .help .symbol {
      color: white;
      font-size: 70px;
      margin: auto;
      position: absolute;
      z-index: 1;
      font-weight: bold;
      width: 100%;
      height: 100%;
      line-height: 100px;
      text-align: center; }
    .second-page .help .block {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      background-color: #d7182a;
      cursor: pointer;
      transform: rotate(45deg);
      box-shadow: 0 0 0 rgba(169, 46, 47, 0.4);
      animation: pulse 2s infinite; }
  .second-page .promo-overlay {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none; }
    .second-page .promo-overlay .promo {
      display: none;
      position: absolute;
      text-align: center;
      color: white;
      top: 40%;
      width: 260px;
      pointer-events: all;
      left: calc(50% - 130px); }
      .second-page .promo-overlay .promo input {
        border: 2px solid #d7182a;
        background-color: black;
        text-align: center;
        color: white;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        font-size: 3vh;
        box-sizing: border-box; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10vh rgba(255, 199, 28, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 20vh rgba(255, 199, 28, 0);
    box-shadow: 0 0 0 10vh rgba(255, 199, 28, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0);
    box-shadow: 0 0 0 0 rgba(255, 199, 28, 0); } }

@-webkit-keyframes blocks-order {
  0% { }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes blocks-order {
  0% { }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes mymove-l {
  0% { }
  40% {
    left: 19%; }
  100% {
    left: 18%; } }

@keyframes mymove-r {
  0% { }
  50% {
    right: 19%; }
  100% {
    right: 18%; } }

@keyframes move {
  0% {
    width: 24%;
    left: 38%; }
  100% {
    width: 24%;
    left: 38%; } }

@media only screen and (max-width: 1024px) {
  body {
    overflow-x: auto;
    position: relative; } }

.mobile .pane, .mobile .content, .tablet .pane, .tablet .content {
  transform: none; }

.mobile .second-page, .tablet .second-page {
  position: relative; }

.mobile .zone, .tablet .zone {
  max-width: 80%; }
  .mobile .zone h1, .tablet .zone h1 {
    font-size: 70px; }
  .mobile .zone span, .tablet .zone span {
    font-size: 25px; }

.mobile .center-content, .tablet .center-content {
  z-index: 20;
  width: 200px;
  top: calc(50% - 85px);
  left: calc(50% - 97px);
  background: transparent; }
  .mobile .center-content .help, .tablet .center-content .help {
    top: 35px; }
    .mobile .center-content .help .promo, .tablet .center-content .help .promo {
      display: none; }
  .mobile .center-content .help:hover .promo, .tablet .center-content .help:hover .promo {
    display: block; }

.mobile .pane, .tablet .pane {
  transform: skewY(-30deg); }

.mobile .main-pane, .tablet .main-pane {
  transform: none; }

.mobile .center-left, .tablet .center-left {
  width: 100%;
  height: 33%;
  top: 17%;
  left: auto; }
  .mobile .center-left .content, .tablet .center-left .content {
    transform: skewY(30deg);
    height: 200%;
    top: -50%; }
  .mobile .center-left .zone, .tablet .center-left .zone {
    transform: skewY(30deg);
    top: 25%;
    left: auto;
    right: 6%;
    text-align: right; }

.mobile .left, .tablet .left {
  width: 100%;
  height: 33%;
  top: -16%; }
  .mobile .left .content, .tablet .left .content {
    transform: skewY(30deg);
    height: 200%;
    top: -50%; }
  .mobile .left .zone, .tablet .left .zone {
    transform: skewY(30deg);
    top: 25%; }

.mobile .center-right, .tablet .center-right {
  width: 100%;
  height: 33%;
  right: auto;
  top: 50%; }
  .mobile .center-right .content, .tablet .center-right .content {
    transform: skewY(30deg);
    height: 200%;
    top: -50%; }
  .mobile .center-right .zone, .tablet .center-right .zone {
    transform: skewY(30deg);
    top: 25%;
    right: auto;
    left: 6%;
    text-align: left; }

.mobile .right, .tablet .right {
  top: 83%;
  width: 100%;
  height: 33%; }
  .mobile .right .content, .tablet .right .content {
    transform: skewY(30deg);
    height: 200%;
    top: -50%; }
  .mobile .right .zone, .tablet .right .zone {
    transform: skewY(30deg);
    top: 15%;
    right: 6%; }

.mobile .social, .tablet .social {
  right: auto;
  left: 20px;
  width: 10%; }
  .mobile .social a, .tablet .social a {
    width: 10vw;
    height: 10vw;
    margin: 1%;
    font-size: 3vh; }

.mobile .help-zone, .tablet .help-zone {
  z-index: 30;
  top: calc(50% - 100px); }

.mobile .promo, .tablet .promo {
  width: 60vw;
  left: calc(50% - 30vw); }
  .mobile .promo input, .tablet .promo input {
    font-size: 5vw; }

@media screen and (orientation: landscape) {
  .mobile {
    max-height: inherit; }
    .mobile .pane {
      transform: none; }
      .mobile .pane .zone {
        max-width: 60%; }
        .mobile .pane .zone span {
          font-size: 20px; }
        .mobile .pane .zone h1 {
          font-size: 55px; }
    .mobile .left {
      top: 0;
      width: 33%;
      height: 100vh;
      left: -16%;
      position: absolute;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15; }
      .mobile .left .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%; }
      .mobile .left .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        top: 10%;
        left: 25%; }
    .mobile .center-left {
      top: 0;
      height: 100%;
      width: 33%;
      left: 17%;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15; }
      .mobile .center-left .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%; }
      .mobile .center-left .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        top: 10%;
        left: auto;
        right: 20%;
        text-align: right;
        max-width: 75%; }
    .mobile .center-right {
      top: 0;
      height: 100%;
      width: 33%;
      right: auto;
      left: 50%;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15; }
      .mobile .center-right .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%; }
      .mobile .center-right .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        top: 10%;
        left: 10%;
        text-align: right;
        right: auto;
        max-width: 75%; }
    .mobile .right {
      left: 83%;
      height: 100%;
      width: 33%;
      top: 0;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15; }
      .mobile .right .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%; }
      .mobile .right .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        left: 0%;
        top: 50%;
        max-width: 75%; }
    .mobile .social {
      width: 50vh;
      bottom: 10px;
      left: 10px;
      height: auto; }
      .mobile .social a {
        width: 10vh;
        height: 10vh;
        font-size: 3vh; } }
