body {
  margin: 0; }

.homepage-hero-module {
  border: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s; }
  .homepage-hero-module .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000; }
    .homepage-hero-module .video-container video.fillWidth {
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0; }
  .homepage-hero-module .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh; }
  .homepage-hero-module .poster img {
    width: 100%;
    bottom: 0;
    position: absolute; }

.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
  justify-content: center; }
  .intro-content a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    opacity: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .intro-content a .btnBefore {
      right: 0;
      bottom: 0; }
    .intro-content a .btnAfter {
      left: 0;
      top: 0; }
  .intro-content .anim-button .btnAfter, .intro-content .anim-button .btnBefore {
    height: 100%;
    width: 100%;
    transition: width 0.5s ease, height 0.5s ease 0.5s;
    -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s; }
  .intro-content .anim-button .btnBefore {
    border-width: 0 0 1px 1px; }
  .intro-content .anim-button .btnAfter {
    border-width: 1px 1px 0 0; }
  .intro-content .anim-button .line-left {
    border-width: 1px 1px 0 0; }
  .intro-content span {
    position: relative;
    line-height: 24px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease; }
  .intro-content .btnAfter, .intro-content .btnBefore {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000000;
    border-width: 0;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }
  .intro-content .intro-zone:hover span {
    color: #5a5a5a; }
  .intro-content .intro-zone {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 50%; }
  .intro-content .intro-zone:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    left: 0;
    top: 22px;
    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }
  .intro-content .intro-zone:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    right: 0;
    top: 22px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: #f0f0f0; }

.anim-zone .intro-zone:after, .anim-zone .intro-zone:before {
  width: calc(50% - 120px);
  -webkit-transition: .4s ease-out;
  -webkit-transition-delay: 0.8s;
  -o-transition: .4s ease-out;
  -o-transition-delay: 0.8s;
  -moz-transition: .4s ease-out;
  -moz-transition-delay: 0.8s;
  transition: .4s ease-out 0.4s;
  transition-delay: 0.8s; }

.anim-zone .intro-zone {
  bottom: 100px;
  transition: bottom 0.4s ease 1.5s; }
