body {
  margin: 0; }

.homepage-hero-module {
  border: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s; }
  .homepage-hero-module .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000; }
    .homepage-hero-module .video-container video.fillWidth {
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0; }
  .homepage-hero-module .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh; }
  .homepage-hero-module .poster img {
    width: 100%;
    bottom: 0;
    position: absolute; }
