@font-face {
  font-family: Proxima;
  src: url(ProximaNova-Reg.otf);
}

@font-face {
  font-family: ProximaBold;
  src: url(ProximaNovaCond-Bold.otf);
}

@font-face {
  font-family: ProximaLight;
  src: url(ProximaNova-LightIt.otf);
}

body {
  margin: 0;
  overflow: hidden;
  //min-width: 1000px;
  font-family: Proxima;
}

//------------------------------------------------------
//video background statementa
//------------------------------------------------------

.homepage-hero-module {
  border: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s;

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;

    video.fillWidth {
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0;
    }
  }

  .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
  }

  .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
}

//ends

.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  z-index: 100;
  justify-content: center;

  a {
    cursor: pointer;
    //display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-transform: uppercase;
    opacity: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    .btnBefore {
      right: 0;
      bottom: 0;
    }
    .btnAfter {
      left: 0;
      top: 0;
    }
  }
  a:hover {
    //background-color: rgba(1, 1, 1, 0.4);
    //
    //span {
    //  color: #5a5a5a;
    //}
    //.btnAfter, .btnBefore {
    //  border-color: #5a5a5a;
    //}

    //.btnBefore {
    //  border-width: 0 0 1px 1px;
    //}
    //
    //.btnAfter {
    //  border-width: 1px 1px 0 0;
    //}
    //
    //.btnAfter, .btnBefore {
    //  height: 100%;
    //  width: 100%;
    //
    //  transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //}
  }

  .anim-button {
    //animation-delay: 1s;
    //animation: pulse 2s infinite 1s;

    .btnAfter, .btnBefore {
      height: 100%;
      width: 100%;

      transition: width 0.5s ease, height 0.5s ease 0.5s;
      -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    }
    .btnBefore {
      border-width: 0 0 1px 1px;
    }

    .btnAfter {
      border-width: 1px 1px 0 0;
    }

    .line-left {
      border-width: 1px 1px 0 0;
    }
  }

  span {
    position: relative;
    line-height: 24px;

    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
  }

  .btnAfter, .btnBefore {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000000;
    border-width: 0;

    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

  .intro-zone:hover {
    //background-color: rgba(1, 1, 1, 0.4);
    //background-color: red;
    //
    .anim-button {
      background-color: #d7182a;
    }
    span:first-child {
      //color: #5a5a5a;

      //border-color: #5a5a5a;
    }
    //:before{
    //  border-color: #5a5a5a;
    //}
    //.btnAfter, .btnBefore {
    //
    //}
  }
  .intro-zone {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 50%;
    left: 0;
  }

  .intro-zone:before {
    content: '';
    position: absolute;
    height: 1px;
    //width: calc( 50% - 120px );
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    left: 0;
    top: 22px;

    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

  .intro-zone:after {
    content: '';
    position: absolute;
    height: 1px;
    //width: calc( 50% - 120px );
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    right: 0;
    top: 22px;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

}

.anim-zone {
  .intro-zone:after, .intro-zone:before {
    width: calc(50% - 120px);
    -webkit-transition: .4s ease-out;
    -webkit-transition-delay: 0.8s;
    -o-transition: .4s ease-out;
    -o-transition-delay: 0.8s;
    -moz-transition: .4s ease-out;
    -moz-transition-delay: 0.8s;
    transition: .4s ease-out 0.4s;
    transition-delay: 0.8s;
  }

  .intro-zone {
    bottom: 100px;
    //transition-delay: 2s;
    transition: bottom 0.4s ease 1.5s;
    //  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //}

    .anim-button {
      background-color: #292929;
    }
  }
}

.anim-zone-end {
  .intro-zone:after, .intro-zone:before {
    //width: calc(50% - 120px);
    width: 0;
    -webkit-transition: .3s ease-out;
    //-webkit-transition-delay: 0.8s;
    -o-transition: .3s ease-out;
    //-o-transition-delay: 0.8s;
    -moz-transition: .3s ease-out;
    //-moz-transition-delay: 0.8s;
    transition: .4s ease-out 0.3s;
    //transition-delay: 0.8s;
  }
  .intro-zone:after {
    right: calc(50% - 120px);
  }
  .intro-zone:before {
    left: calc(50% - 120px);;
  }
  a {
    -webkit-transition: .3s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: .3s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .3s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .4s ease-out; // 0.3s;
    transition-delay: 0.5s;
    display: inline-block;
    opacity: 0 !important;
  }
}

//second page
.second-page {
  min-width: 1000px;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .pane {
    background-color: black;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
  }

  .pane:hover .content {
    opacity: 0.7;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .zone {
    position: absolute;
    top: calc(10% + 20px);
    max-width: 70%;
    display: none;
    min-height: 50vh;

    h1 {
      color: #d7182a;
      font-family: ProximaBold;
      text-transform: uppercase;
      font-size: 55px;
    }
    span {
      //position: relative;
      font-family: ProximaLight;
      font-size: 22px;
      color: white;
    }

    button {
      //display: block;
      position: absolute;
      bottom: 10%;
      border: none;
      background-color: #d7182a;
      color: white;
      border-radius: 5px;
      width: 130px;
      height: 40px;
      font-size: 16px;
    }
    button:hover {
      background-color: #292929;
    }
  }

  .center-content {
    //display: none;
    background-position: center center;
    background-size: cover;
    width: 24%;
    left: 38%;
    //top: 0;
    height: 100%;
    //border: 1px solid white;
    background-image: url('../img/center.jpg');
    z-index: 10;
    //animation: move 1s 0.8s 1 normal forwards;
  }

  .center-left {
    width: 20%;
    //top: -10%;
    left: 21%;
    height: 100%;
    z-index: 15;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transform: skewX(6deg);

    //animation: mymove-l 1s 0.8s 1 normal forwards;

    .content {
      background-image: url('../img/ufc-ea-05.jpg');
      background-position: center center;
      background-size: cover;

      //width: 140%;
      width: calc(120% + 80px);

      left: -20%;
      //left: calc( 20% - 30px);
      margin-left: -30px;

      transform: skewX(-6deg);
    }
    .zone {
      transform: skewX(-6deg);
      left: calc(5% + 35px);
      text-align: left;
    }
  }

  .center-right {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    right: 21%; // calc(22% - 10px);
    height: 100%;
    z-index: 15;
    transform: skewX(-6deg);
    .content {
      background-image: url('../img/box1m.jpg');
      background-position: center center;
      background-size: cover;
      width: calc(120% + 80px);
      right: -20%;
      margin-right: -30px;

      transform: skewX(6deg);
    }
    .zone {
      transform: skewX(6deg);
      right: calc(5% + 35px);
      text-align: right;

      button {
        right: 0;
      }
    }
  }

  .left {
    //width: 50%;
    //left: 0;
    height: 100%;
    z-index: 5;

    left: -4%;
    width: 25%;
    transform: skewX(6deg);

    .content {
      background-image: url('../img/maxresdefaudfdlt.jpg');
      background-position: center center;
      background-size: cover;
      width: calc(120% + 80px);

      transform: skewX(-6deg);
    }
    .zone {
      //left: calc(3% + 15px);
      left: calc(15% + 15px);
      transform: skewX(-6deg);
    }
  }

  .right {
    //width: 50%;
    //right: 0;
    height: 100%;
    z-index: 5;

    width: 25%;
    right: -4%;

    transform: skewX(-6deg);

    .content {
      background-image: url('../img/40d453u-960.jpg');
      background-position: center center;
      background-size: cover;
      transform: skewX(6deg);
      width: calc(120% + 80px);
      left: -14%;
    }

    .zone {
      //right: calc(3% + 15px);
      right: calc(15% + 15px);
      text-align: right;
      transform: skewX(6deg);

      button {
        right: 0;
      }
    }
    //-webkit-animation: blocks-order 0.8s forwards; /* Safari 4.0 - 8.0 */
    //animation: blocks-order 0.8s forwards;
    //-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    //animation-iteration-count: 1;
  }

  //.right:after {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background-image: url('../img/40d453u-960.jpg');
  //  background-position: center center;
  //  background-size: cover;
  //}

  .social {
    //position: absolute;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    color: white;
    display: none;

    a {
      cursor: pointer;
      display: inline-flex;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #d7182a;
      transition: 0.3s;
      padding: 2;

      i {
        display: block;
        margin: auto;
      }
    }

    a:hover {
      background-color: #292929;
      transform: rotate(360deg);
    }
  }

  .logo {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 20;
    display: none;

    img {
      display: block;
      margin: auto;
      width: 150px;
    }
  }

  .help-zone {
    position: absolute;
    z-index: 10;
    width: 200px;
    left: calc(50% - 100px);
    top: 25%;
  }

  .help {
    position: absolute;
    //left: calc(50% - 50px);
    width: 97%;
    top: calc(20% + 50px);
    //display: flex;
    justify-content: center;
    align-items: center;

    .symbol {
      color: white;
      font-size: 70px;
      margin: auto;
      position: absolute;
      z-index: 1;
      //font-family: ProximaBold;
      font-weight: bold;
      width: 100%;
      height: 100%;
      line-height: 100px;
      text-align: center;

    }
    .block {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin: auto;
      //border: 1px solid grey;
      background-color: #d7182a;
      cursor: pointer;
      transform: rotate(45deg);
      box-shadow: 0 0 0 rgba(169, 46, 47, 0.4);
      animation: pulse 2s infinite;
    }
  }

  .promo-overlay {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;

    .promo {
      display: none;
      position: absolute;
      //bottom: -70px;
      text-align: center;
      color: white;
      //display: block;
      top: 40%;
      width: 260px;
      //width: 100%;
      //left: -44%;
      pointer-events: all;
      left: calc(50% - 130px);

      input {
        border: 2px solid #d7182a;
        background-color: black;
        text-align: center;
        color: white;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        //max-width: 180px;
        width: 100%;
        font-size: 3vh;
        box-sizing: border-box;
      }
    }
  }
  //.help:hover{
  //  .promo{
  //    display: block;
  //  }
  //}

  //.prefetch{
  //  position: relative;
  //}
}

@-webkit-keyframes pulse {
  0% {

    //-webkit-box-shadow: 0 0 0 0 rgba(169,46,47, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4);
  }
  70% {
    //-webkit-box-shadow: 0 0 0 20px rgba(169,46,47, 0);
    //-webkit-box-shadow: 0 0 0 20px rgba(255,199,28, 0);
    -webkit-box-shadow: 0 0 0 10vh rgba(255, 199, 28, 0);
  }
  100% {
    //-webkit-box-shadow: 0 0 0 0 rgba(169,46,47, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4);
    box-shadow: 0 0 0 0 rgba(255, 199, 28, 0.4);
  }
  70% {
    //-moz-box-shadow: 0 0 0 20px rgba(255,199,28, 0);
    //box-shadow: 0 0 0 10px rgba(255,199,28, 0);
    -moz-box-shadow: 0 0 0 20vh rgba(255, 199, 28, 0);
    box-shadow: 0 0 0 10vh rgba(255, 199, 28, 0);
    //width: 55px;
    //height: 55px;
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 199, 28, 0);
    box-shadow: 0 0 0 0 rgba(255, 199, 28, 0);
  }
}

@-webkit-keyframes blocks-order {
  0% {
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes blocks-order {
  0% {
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes mymove-l {
  0% {
  }
  40% {
    left: 19%;
  }
  100% {
    //transform: skewX(6deg);
    //transform-origin: inherit;
    //width: 23%;
    left: 18%;
  }
}

@keyframes mymove-r {
  0% {
  }
  50% {
    right: 19%;
  }
  100% {
    //transform: skewX(-6deg);
    //transform-origin: inherit;
    //width: 23%;
    right: 18%;
  }
}

@keyframes move {
  0% {
    width: 24%;
    left: 38%;
  }
  100% {
    width: 24%;
    left: 38%;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    //width: 1124px;
    overflow-x: auto;
    position: relative;
  }
}

.mobile, .tablet {

  .pane, .content {
    //transform: skewX(0deg);
    transform: none;
  }

  .second-page {
    position: relative;
  }

  .zone {
    max-width: 80%;
    h1 {
      font-size: 70px;
    }
    span {
      font-size: 25px;
    }
    button{
      margin-top: 20px;
      position: relative;
    }
  }

  .center-content {
    z-index: 20;
    width: 200px;
    //height: 20%;
    //border: 1px solid #d7182a;
    top: calc(50% - 85px);
    left: calc(50% - 97px);

    background: transparent;

    .help {
      top: 35px;

      .promo {
        display: none;
      }
    }

    .help:hover {
      .promo {
        display: block;
      }
    }
  }

  .pane {
    transform: skewY(-30deg);
  }

  .main-pane {
    transform: none;
  }

  .center-left {
    width: 100%;
    height: 33%;
    top: 17%;
    left: auto;
    .content {
      transform: skewY(30deg);
      height: 200%;
      top: -50%;
    }
    .zone {
      transform: skewY(30deg);
      top: 25%;
      left: auto;
      right: 6%;
      text-align: right;
    }
  }
  .left {
    width: 100%;
    height: 33%;
    top: -16%;

    .content {
      transform: skewY(30deg);
      height: 200%;
      top: -50%;
    }
    .zone {
      transform: skewY(30deg);
      //top: 25%;
      top: 37%;
      left: calc(5% + 15px);
    }

    //transform: skewY(-30deg);
  }
  .center-right {
    width: 100%;
    height: 33%;
    right: auto;
    top: 50%;
    .content {
      transform: skewY(30deg);
      height: 200%;
      top: -50%;
    }
    .zone {
      transform: skewY(30deg);
      top: 25%;
      right: auto;
      left: 6%;
      text-align: left;
    }
  }
  .right {
    top: 83%;
    width: 100%;
    height: 33%;

    .content {
      transform: skewY(30deg);
      height: 200%;
      top: -50%;
    }
    .zone {
      transform: skewY(30deg);
      top: 15%;
      right: 6%;
    }
  }

  .social {
    right: auto;
    left: 20px;
    width: 10%;

    a {
      width: 10vw;
      height: 10vw;
      margin: 1%;
      font-size: 3vh;
    }
  }

  .help-zone {
    z-index: 30;
    //top: calc(50% - 100px);
    top: calc(50% - 12vw);
    left: calc(50% - 12vw);
    transition: 0.4s ease all;

    .symbol {
      width: 24vw;
      height: 24vw;
      line-height: 24vw;
    }

    .block {
      width: 24vw;
      height: 24vw;
    }
  }
  .promo {
    width: 60vw !important;
    left: calc(50% - 30vw) !important;
    div {
      font-size: 4vw;
    }
    input {
      font-size: 5vw;
    }
  }
}

//---------------------------------------
//landscape
//---------------------------------------

@media screen and (orientation: landscape) { //  and (max-width: 736px) {
  .mobile {
    max-height: inherit;

    .pane {
      transform: none;
      //position: sticky;
      //-ms-transform: skew(-30deg, 0deg);
      //-webkit-transform: skew(-30deg, 0deg);
      //transform: skew(-30deg, 0deg);
      .zone {
        max-width: 60%;

        span {
          font-size: 20px;
        }
        h1 {
          font-size: 55px;
        }
        button {
          position: relative;
        }
      }
    }

    .left {
      top: 0;
      width: 33%;
      height: 100vh;
      left: -16%;
      position: absolute;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15;

      .content {
        //transform:  skewX(-30deg) skewY(0deg);
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);

        width: 200%;
        left: -50%;
      }
      .zone {
        //transform: skewX(-30deg) skewY(0deg);
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        //transform: ;
        top: 10%;
        left: 25%;
      }

      //transform: skewY(-30deg);
    }

    .center-left {
      top: 0;
      height: 100%;
      width: 33%;
      left: 17%;
      //left: auto;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15;

      .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%;
      }
      .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        top: 10%;
        left: auto;
        right: 20%;
        text-align: right;
        max-width: 75%;
      }
    }

    .center-right {
      top: 0;
      height: 100%;
      width: 33%;
      right: auto;
      left: 50%;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15;

      .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);

        width: 200%;
        left: -50%;
      }
      .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        top: 10%;
        left: 10%;
        text-align: right;
        right: auto;
        max-width: 75%;
        //top: 6%;
        //text-align: left;
      }
    }

    .right {
      left: 83%;
      height: 100%;
      width: 33%;
      top: 0;
      -ms-transform: skew(-30deg, 0deg);
      -webkit-transform: skew(-30deg, 0deg);
      transform: skew(-30deg, 0deg);
      z-index: 15;

      .content {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        width: 200%;
        left: -50%;
      }
      .zone {
        -ms-transform: skew(30deg, 0deg);
        -webkit-transform: skew(30deg, 0deg);
        transform: skew(30deg, 0deg);
        left: 0%;
        //top: 6%;
        top: 50%;
        max-width: 75%;
        //bottom: 10%;

      }
    }

    .social {
      width: 50vh;
      bottom: 10px;
      left: 10px;
      height: auto;

      a {
        width: 10vh;
        height: 10vh;
        font-size: 3vh;
      }
    }

    .promo-overlay {
      width: 102vw;
      .promo {
        div {
          font-size: 3vw !important;
        }
        input {
          font-size: 5vh !important;
          width: 75% !important;
        }
      }
    }

    .help-zone {
      //top: calc(50% - 12vw) !important;
      //left: calc(50% - 9vw) !important;
      top: calc(50% - 12vw) ;
      left: calc(50% - 9vw) ;
      .help {
        display: flex;

        .block {
          width: 14vw;
          height: 14vw;
        }
        .symbol {
          margin: auto;
          width: 14vw;
          height: 14vw;
          line-height: 14vw;
        }
      }
    }
  }
}

.goDown {
  top: calc(65% - 100px) !important;
  //transition: 0.4s ease all;
}

.goUp {
  top: calc(35% - 100px) !important;
  //transition: 0.4s ease all;
}

.goLeft {
  left: calc(65% - 100px) !important;
  //transition: 0.4s ease all;
}

.goRight {
  left: calc(35% - 100px) !important;
  //transition: 0.4s ease all;
}



