@font-face {
  font-family: Proxima;
  src: url(ProximaNova-Reg.otf);
}

body {
  margin: 0;
  overflow: hidden;
  //min-width: 1000px;
  font-family: Proxima;
}

//------------------------------------------------------
//video background statement
//------------------------------------------------------

.homepage-hero-module {
  border: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: 0.2s;

  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;

    video.fillWidth {
      min-width: 100%;
      min-height: 100vh;
      position: absolute;
      z-index: 0;
      bottom: 0;
    }
  }

  .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
  }

  .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
}

//ends

.intro-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  z-index: 100;
  justify-content: center;

  a {
    cursor: pointer;
    //display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-transform: uppercase;
    opacity: 0;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 240px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    text-align: center;
    color: white;
    text-decoration: none;

    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;

    .btnBefore {
      right: 0;
      bottom: 0;
    }
    .btnAfter {
      left: 0;
      top: 0;
    }
  }
  a:hover {
    //background-color: rgba(1, 1, 1, 0.4);
    //
    //span {
    //  color: #5a5a5a;
    //}
    //.btnAfter, .btnBefore {
    //  border-color: #5a5a5a;
    //}

    //.btnBefore {
    //  border-width: 0 0 1px 1px;
    //}
    //
    //.btnAfter {
    //  border-width: 1px 1px 0 0;
    //}
    //
    //.btnAfter, .btnBefore {
    //  height: 100%;
    //  width: 100%;
    //
    //  transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //}
  }

  .anim-button {
    .btnAfter, .btnBefore {
      height: 100%;
      width: 100%;

      transition: width 0.5s ease, height 0.5s ease 0.5s;
      -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
      -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    }
    .btnBefore {
      border-width: 0 0 1px 1px;
    }

    .btnAfter {
      border-width: 1px 1px 0 0;
    }

    .line-left {
      border-width: 1px 1px 0 0;
    }
  }

  span {
    position: relative;
    line-height: 24px;

    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
  }

  .btnAfter, .btnBefore {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border: solid #000000;
    border-width: 0;

    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

  .intro-zone:hover {
    //background-color: rgba(1, 1, 1, 0.4);
    //background-color: red;
    //
    .anim-button {
      background-color: red;
    }
    span:first-child {
      //color: #5a5a5a;

      //border-color: #5a5a5a;
    }
    //:before{
    //  border-color: #5a5a5a;
    //}
    //.btnAfter, .btnBefore {
    //
    //}
  }
  .intro-zone {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    bottom: 50%;
    left: 0;
  }

  .intro-zone:before {
    content: '';
    position: absolute;
    height: 1px;
    //width: calc( 50% - 120px );
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    left: 0;
    top: 22px;

    transition: 0;
    -webkit-transition: 0;
    -moz-transition: 0;
    -o-transition: 0;
    -ms-transition: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

  .intro-zone:after {
    content: '';
    position: absolute;
    height: 1px;
    //width: calc( 50% - 120px );
    width: 0;
    border: solid white;
    border-width: 0 0 1px 0px;
    right: 0;
    top: 22px;

    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-color: rgb(240, 240, 240);
  }

}

.anim-zone {
  .intro-zone:after, .intro-zone:before {
    width: calc(50% - 120px);
    -webkit-transition: .4s ease-out;
    -webkit-transition-delay: 0.8s;
    -o-transition: .4s ease-out;
    -o-transition-delay: 0.8s;
    -moz-transition: .4s ease-out;
    -moz-transition-delay: 0.8s;
    transition: .4s ease-out 0.4s;
    transition-delay: 0.8s;
  }

  .intro-zone {
    bottom: 100px;
    //transition-delay: 2s;
    transition: bottom 0.4s ease 1.5s;
    //  -moz-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -o-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -ms-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
    //}
  }
}

.anim-zone-end {
  .intro-zone:after, .intro-zone:before {
    //width: calc(50% - 120px);
    width: 0;
    -webkit-transition: .3s ease-out;
    //-webkit-transition-delay: 0.8s;
    -o-transition: .3s ease-out;
    //-o-transition-delay: 0.8s;
    -moz-transition: .3s ease-out;
    //-moz-transition-delay: 0.8s;
    transition: .4s ease-out 0.3s;
    //transition-delay: 0.8s;
  }
  .intro-zone:after {
    right: calc(50% - 120px);
  }
  .intro-zone:before {
    left: calc(50% - 120px);;
  }
  a {
    -webkit-transition: .3s ease-out;
    -webkit-transition-delay: 0.5s;
    -o-transition: .3s ease-out;
    -o-transition-delay: 0.5s;
    -moz-transition: .3s ease-out;
    -moz-transition-delay: 0.5s;
    transition: .4s ease-out; // 0.3s;
    transition-delay: 0.5s;
    display: inline-block;
    opacity: 0 !important;
  }
}

//second page
.second-page {
  min-width: 1000px;
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .pane{
    //-webkit-transition-delay: 0.5s;
    //-moz-transition-delay: 0.5s;
    //-ms-transition-delay: 0.5s;
    //-o-transition-delay: 0.5s;
    //transition-delay: 0.5s;
    //
    //-webkit-transition: 0.4s ease;
    //-moz-transition: 0.4s ease;
    //-ms-transition: 0.4s ease;
    //-o-transition: 0.4s ease;
    //transition: 0.4s ease;
    background-color: black;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
  }

  .pane:hover .content{
    opacity: 0.7;
    //background-size: 110%;
    //background-position: center;
    //background-repeat: no-repeat;
  }

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
  }

  .center-content {
    //display: none;
    background-position: center center;
    background-size: cover;
    width: 24%;
    left: 38%;
    //top: 0;
    height: 100%;
    //border: 1px solid white;
    background-image: url('../img/center.jpg');
    z-index: 10;
    //animation: move 1s 0.8s 1 normal forwards;
  }

  .center-left {
    width: 20%;
    //top: -10%;
    left: 21%;
    height: 100%;
    z-index: 15;
    border-left: 1px solid black;
    border-right: 1px solid black;
    transform: skewX(6deg);

    //animation: mymove-l 1s 0.8s 1 normal forwards;

    .content {
      background-image: url('../img/ufc-ea-05.jpg');
      background-position: center center;
      background-size: cover;

      width: 140%;
      left: -20%;

      transform: skewX(-6deg);
    }
  }

  .center-right {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
    //top: -10%;
    right: 22%;
    height: 100%;
    z-index: 15;
    //animation: mymove-r 1s 0.8s 1 normal forwards;
    transform: skewX(-6deg);
    .content {
      background-image: url('../img/box1m.jpg');
      background-position: center center;
      background-size: cover;

      width: 140%;
      right: -20%;

      transform: skewX(6deg);
    }
  }

  .left {
    width: 50%;
    //top: 10%;
    left: 0;
    height: 100%;
    z-index: 5;
    .content {
      background-image: url('../img/maxresdefaudfdlt.jpg');
      background-position: center center;
      background-size: cover;
    }
  }

  .right {
    width: 50%;
    //top: 10%;
    right: 0;
    height: 100%;
    z-index: 5;
    .content {
      background-image: url('../img/40d453u-960.jpg');
      background-position: center center;
      background-size: cover;
    }
    //-webkit-animation: blocks-order 0.8s forwards; /* Safari 4.0 - 8.0 */
    //animation: blocks-order 0.8s forwards;
    //-webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    //animation-iteration-count: 1;
  }

  //.right:after {
  //  content: '';
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background-image: url('../img/40d453u-960.jpg');
  //  background-position: center center;
  //  background-size: cover;
  //}
}

.rotate{
  .center-left{

  }
}

@-webkit-keyframes blocks-order {
  0% {
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes blocks-order {
  0% {
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes mymove-l {
  0% {  }
  40% {
    left: 19%;
  }
  100% {
    //transform: skewX(6deg);
    //transform-origin: inherit;
    //width: 23%;
    left: 18%;
  }
}

@keyframes mymove-r {
  0% {  }
  50%{
    right: 19%;
  }
  100% {
    //transform: skewX(-6deg);
    //transform-origin: inherit;
    //width: 23%;
    right: 18%;
  }
}
@keyframes move {
  0% {
    width: 24%;
    left: 38%;
  }
  100% {
    width: 24%;
    left: 38%;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    //width: 1124px;
    overflow-x: auto;
    position: relative;
  }
}

.mobile{

  .pane, .content{
    //transform: skewX(0deg);
    transform: none;
  }

  .center-content{
    z-index: 20;
    width: 20%;
    height: 20%;
    top:40%;
    left: 40%;
  }

  .center-left{
    width: 50%;
    height: 50%;
    bottom:0;
    left: 0;

  }
  .left{
    width: 50%;
    height: 50%;
    top:0;
    left: 0;

  }
  .center-right{
    width: 50%;
    height: 50%;
    top:0;
    right: 0;
    .content{
      right: 0;
      width: 100%;
    }
  }
  .right{
    width: 50%;
    height: 50%;
    bottom:0;
    right: 0;
  }
}